
@font-face {
    /* font-properties */
    font-family: louis;
    src: url('louisRegular.otf'),
    url('louisRegular.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'louis', 'Handlee', "Microsoft Yahei", arial, sans-serif;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input,textarea {
    -webkit-user-select:auto; /*webkit浏览器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}

body{
    height: 100%;
    background-color: #000000;
}
.cart-top{
    z-index: 1;
}
.cart-top img{
    width: 100%;
}
.line{
    height: 15px;
    padding-left: 15px;
    line-height: 15px;
    background: #f1b51b;
    font-size: 14px;
    margin-bottom: 3px;
    color: #5c060b;
}
.times{
    width: 80%;
}
.times span:nth-child(1){
    margin-right: 30%;
    color: #000;
    font-weight: bold;
}
.speed{
    width: 60%;
}
.speed span:nth-child(1){
    margin-right: 20%;
    color: #000;
    font-weight: bold;
}
.steady{
    width: 70%;
}
.steady span:nth-child(1){
    margin-right: 30%;
    color: #000;
    font-weight: bold;
}
.f-full {
    /*position: absolute;*/
    /*top:0;*/
    /*z-index: 1;*/
}
#canvas-container {
    width: 100%;
    position: relative;
    background-color: #000000;
}
.storeName{
    position: relative;
    width: 100%;
    top:-20px;
    z-index: 1;
    background-color: #000000;
}
.address-icon {
    float:left;
    margin-left: 18px;
}
.address-name {
    float:left;
    font-size: 13px;
    text-indent:8px;
    text-align: left;
    color: #FFFFFF;
    background-color: #000000;
}
.foot{
    /*display: none;*/
    /*position: relative;*/
    /*top:-42px;*/
    position: absolute;
    float:left;
    width: 100%;

    text-align: center;
    color:#f1b51b;
    z-index: 99;
}